@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.logo{
    color: white !important;
    font-family: 'Righteous';
}
.HR{
    color: white !important;
    font-family: 'Saira', sans-serif;
    font-weight: bold;
}
.HR:hover{
    color: #50A2A7 !important;
    font-family: 'Saira', sans-serif;
    font-weight: bold;
}
.BG{
    background-color: #D6B098 !important;
}
.PP{
    background-image: url(images/2.jpg);
    width: 100%;height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.P{
    font-family: 'Pirata One', cursive;
    color: whitesmoke;
    font-size: 50px;
}
.P1{
    font-family: 'Roboto', sans-serif;
}
.XYZ{
    margin-left: 55px;
}
.COT{
    color:#D6B098 !important;
}
.XYZZ{
    margin-left: 45px;
    font-family: 'Antic Slab', serif;
}
.XYYZ{
   font-family: 'Antic Slab', serif;
}
.XYYYZ{
    font-family: 'Antic Slab',serif;
    font-weight: bold;
}
.S{
    width: 250px;
}
.SS{
    width: 100%;
}
.ZZZ{
    margin-right: 45px;
}
.TYU{
    background-color: #50A2A7 !important;
    color: white !important;
}
.IC:hover{
    color:#50A2A7 !important;
}
.KJH{
    background-color: #50A2A7;
}
.KJHG{
    color: #50A2A7;
}
